 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Example for interacting with the bosch iot central registry things rest api.">

<title>things-rest-angular</title>

<!-- Bootstrap core CSS -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Bootstrap theme -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/index.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!--
/**
 * Copyright (c) 2015, Bosch Software Innovations GmbH, Germany
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
 *  
 * 1. Redistributions of source code must retain the above copyright notice, 
 *    this list of conditions and the following disclaimer.
 *  
 * 2. Redistributions in binary form must reproduce the above copyright notice, 
 *    this list of conditions and the following disclaimer in the documentation 
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the Bosch Software Innovations GmbH, Germany nor the names of its contributors 
 *    may be used to endorse or promote products derived from this software 
 *    without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT 
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT 
 * HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT 
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON 
 * ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
-->
<body ng-app="crClient">

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CRaaS Client</a>
			</div>
			<!-- /.nav-header -->

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
                    <li class="active"><a href="#">Things Service</a></li>
				</ul>
			</div>
			<!-- /.nav-collapse -->
		</div>
	</nav>

	<div class="container" ng-controller="RestController">

        <tabset>
            <tab heading="Thing(s)">
                <div class="panel panel-primary">
                    <div class="panel-heading">Get all registered thing ids</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="getThings('', 'thingId')">
                                    <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <div class="panel panel-primary">
                    <div class="panel-heading">Get a thing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="getThing(getThingId, getThingFields)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon" id="get-thing-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id"
                                               aria-describedby="get-thing-thingId"
                                               ng-model="getThingId" required/>
                                        <span class="input-group-addon form-addon" id="get-thing-fields">fields</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the fields separated by ','"
                                               aria-describedby="get-thing-fields"
                                               ng-model="getThingFields"/>
                                <span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <div class="panel panel-primary">
                    <div class="panel-heading">Get a list of things</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="getThings(getThingIds, getThingsFields)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="get-things-thingIds">thingIds</span>
                                        <input type="text" class="form-control"
                                               placeholder="the ids separated by ','"
                                               aria-describedby="get-thing-thingIds"
                                               ng-model="getThingIds" required/>
                                        <span class="input-group-addon form-addon" id="get-things-fields">fields</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the fields separated by ','"
                                               aria-describedby="get-things-fields"
                                               ng-model="getThingsFields"/>
                                <span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <hr/>

                <div class="panel panel-success">
                    <div class="panel-heading">Create a new thing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="postThing(thingToCreate)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="create-thing-owner">ownerId</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the user sid"
                                               aria-describedby="create-thing-owner"
                                               ng-model="thingToCreate.owner"/>
                                        <span class="input-group-addon form-addon" id="create-thing-attributes">attributes</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the attributes"
                                               aria-describedby="create-thing-attributes"
                                               ng-model="thingToCreate.attributes"/>
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                 </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <div class="panel panel-success">
                    <div class="panel-heading">Create or modify a specific thing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="putThing(thingToModify)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="modify-thing-thingId">thingId</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the id"
                                               aria-describedby="modify-thing-thingId"
                                               ng-model="thingToModify.thingId"
                                               required>
                                        <span class="input-group-addon form-addon"
                                              id="modify-thing-owner">ownerId</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the user sid"
                                               aria-describedby="modify-thing-owner"
                                               ng-model="thingToModify.owner"/>
                                        <span class="input-group-addon form-addon" id="modify-thing-attributes">attributes</span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="the attributes"
                                               aria-describedby="modify-thing-attributes"
                                               ng-model="thingToModify.attributes"/>
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                 </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <hr/>

                <div class="panel panel-danger">
                    <div class="panel-heading">Delete a thing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="removeThing(removeThingId)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="remove-thing-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id"
                                               aria-describedby="remove-thing-thingId"
                                               ng-model="removeThingId" required> <span
                                            class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="Attributes">
                <div class="panel panel-success">
                    <div class="panel-heading">Modify an attribute on a thing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="modifyThingAttribute(thingAttributeToCreate)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="modify-attribute-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id of the thing"
                                               aria-describedby="modify-attribute-thingId"
                                               ng-model="thingAttributeToCreate.thingId" required/>
                                        <span class="input-group-addon form-addon" id="modify-attribute-path">attribute path</span>
                                        <input type="text" class="form-control"
                                               placeholder="the path separated by '/'"
                                               aria-describedby="modify-attribute-path"
                                               ng-model="thingAttributeToCreate.path" required/>
                                        <span class="input-group-addon form-addon" id="modify-attribute-value">attribute value</span>
                                        <input type="text" class="form-control"
                                               placeholder="the value of the attribute"
                                               aria-describedby="modify-attribute-key"
                                               ng-model="thingAttributeToCreate.value" required/>
                                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                            Go!
                                        </button></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="panel panel-danger">
                    <div class="panel-heading">Delete an attribute on a thing</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="deleteThingAttribute(thingAttributeToDelete)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="delete-attribute-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id of the thing"
                                               aria-describedby="delete-attribute-thingId"
                                               ng-model="thingAttributeToDelete.thingId" required/>
                                        <span class="input-group-addon form-addon" id="delete-attribute-path">attribute path</span>
                                        <input type="text" class="form-control"
                                               placeholder="the path separated by '/'"
                                               aria-describedby="delete-attribute-path"
                                               ng-model="thingAttributeToDelete.path" required/>
                                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                            Go!
                                        </button></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="Owner">
                <div class="panel panel-primary">
                    <div class="panel-heading">Get owner id</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="getThingOwner(getThingOwner)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="get-owner-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id of the thing"
                                               aria-describedby="get-owner-thingId"
                                               ng-model="getThingOwner.thingId" required/>
                                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                            Go!
                                        </button></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="panel panel-success">
                    <div class="panel-heading">Update owner</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="updateThingOwner(updateThingOwner)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="update-owner-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id of the thing"
                                               aria-describedby="update-owner-thingId"
                                               ng-model="updateThingOwner.thingId" required/>
                                        <span class="input-group-addon form-addon"
                                              id="update-owner-ownerId">ownerId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the user sid"
                                               aria-describedby="update-owner-ownerId"
                                               ng-model="updateThingOwner.ownerId" required/>
                                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                            Go!
                                        </button></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="panel panel-danger">
                    <div class="panel-heading">Delete owner. The Thing will no longer be accessible.</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form ng-submit="deleteThingOwner(deleteThingOwner)">
                                    <div class="input-group">
                                        <span class="input-group-addon form-addon"
                                              id="delete-owner-thingId">thingId</span>
                                        <input type="text" class="form-control"
                                               placeholder="the id of the thing"
                                               aria-describedby="delete-owner-thingId"
                                               ng-model="deleteThingOwner.thingId" required/>
                                        <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                            Go!
                                        </button></span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>

        <hr/>

        <div class="panel panel-default">
			<div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">REST responses</h4>
                <button class="btn btn-default pull-right" ng-click="clearResponses()">Clear</button>
            </div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-group" id="responses">
							<li class="list-group-item" ng-repeat="response in responses">
								<span class="label label-default" ng-bind="response.timestamp"></span>
                                <span class="label label-info" ng-bind="response.method"></span>
                                <span class="label"
                                      ng-class="{'label-success': response.type === 'success', 'label-danger': response.type === 'error', 'label-warning': response.type === 'warning'}"
                                      ng-bind="response.status"></span>
                                <pre>{{response.message | json}}</pre>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /container -->

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>
    <script src="js/iframeResizer.contentWindow.min.js"></script>
</body>
</html>
